.saved-news {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1232px;
  width: calc(100% - 14.4%);
  padding-bottom: 22px;
}

.saved-news__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding-top: 64px;
  justify-items: center;
  background: #F5F6F7;
}

@media screen and (max-width: 768px) {
  .saved-news {
    width: calc(100% - 10.4%);
  }
  .saved-news__container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 8px;
    padding-top: 32px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news {
    max-width: 288px;
    width: calc(100% - 10%);
  }

  .saved-news__container{
    padding-top: 24px;
  }
}
