.footer {
  margin: 0 auto;
  max-width: 1232px;
  width: calc(100% - 14.4%);
  display: grid;
  grid-template-columns: auto repeat(2, minmax(min-content, max-content));
  grid-template-areas: "copyright text icon";
  align-items: center;
  padding-top: 32px;
  padding-bottom: 26px;
}

.footer__copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #B6BCBF;
  /*padding-top: 32px;*/
  /*padding-bottom: 26px;*/
  grid-area: copyright;
}

.footer__navigation {
  /*padding-top: 30px;*/
  /*padding-bottom: 28px;*/
}

.footer__navigation_type_text {
  grid-area: text;
  justify-self: end;
  padding-right: 64px;
  transition: all ease 0.5s;
}

.footer__navigation_type_icon {
  grid-area: icon;
  justify-self: end;
  transition: all ease 0.5s;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__list:not(:last-of-type) {
  padding-right: 32px;
}

.footer__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.footer__link_type_fb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  /*background-image: url(../../images/facebook.svg);*/
  background-image: url(../../images/codewars-square.svg);
}

.footer__link_type_git {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  background-image: url(../../images/github.svg);
}

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 41px;
    padding-left: 40px;
    max-width: 768px;
    width: calc(100% - 10.4%);
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .footer__navigation_type_text {
    padding-right: 34px;
  }

  .footer__list:not(:last-of-type) {
    padding-right: 28px;
  }

  .footer__link_type_fb {
    width: 22px;
    height: 22px;
    background-image: url(../../images/codewars-circle.svg);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
            "text icon"
            "copyright copyright ";
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-content: space-around;
  }

  .footer__navigation_type_text{
    justify-self: auto;
    padding-bottom: 0;
  }
  .footer__navigation_type_icon{
    padding-top: 22px;
  }

  .footer__links_type_text {
    grid-area: ultext;
    display: flex;
    flex-direction: column;
  }

  .footer__list:not(:last-of-type) {
    padding-bottom: 25px;
    padding-right: 28px;
  }

  .footer__link_type_fb {
    /*background-image: url(../../images/facebook.svg);*/
    background-image: url(../../images/codewars-square.svg);
  }
  .footer__copyright{
    padding-top: 38px;
  }
}
